/* Defaults */
* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.801) 0%, rgba(0, 0, 0, 0.63) 100%);
    /* background-size: 650px; */
    background-color: #1d1d1d !important;
    color: #c4c4c4;
}

.brand-color {
    color: #0074d9;
}

.round {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-top: 4px;
    /* margin-left: 12px; */
    border: 1px solid #ebebeb;
}

/* Navbar */
.nav-bar {
    padding: 20px 0;
    margin: 0 10px;
}

.nav-bar li {
    margin-right: 16px;
}

.navbar-brand {
    font-size: 24px;
    font-weight: 600;
}

/* Body */
.side-bar {
    background: #0074d9;
    border-radius: 20px;
    color: #ebebeb;
}

.content-section {
    position: relative;
    width: 100%;
    margin: 20px 0;
}

.wrapper{
    max-width: 1200px;
    margin: 10px auto;
}

.dp{
    width: 30px;
    height: 30px;
    border: 1px solid #001f3f;
    border-radius: 50%;
    text-align: center;
}
.sidebar{
    padding: 20px 10px;
    width: 100%;
    height: 80vh;
    border: none;
    border-radius: 20px;
    background: #0074d9;
    color: #f1f1f1;
}

.invoice-btn{
    color: #f1f1f1;
    background: #001f3f;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.content{
    padding: 20px 50px;
    background: rgba(61, 61, 61, 0.6);
    border: none;
    border-radius: 30px;
    width: 100%;
    color: #ebebeb;
}
.first-row{
    margin-bottom: 20px;
}
.form-control{
    width: 200px;
}
.third-row{
    margin-bottom: 20px;
}
.invoice-icons{
    margin-right: 4px;
    font-size: 20px;
    color: #0074d9;
}
.invoice-icons .fa{
    margin: 0 7px;
}
.table{
    width: auto;
    align-self: center;
}
th, td{
    width: 30%;
}
th{
    font-size: 14px;
    color: #c3c3c3;
    font-weight: 300;
}
td{
    font-weight: 600 !important;
    color: #ebebeb;
}
td .user-pic{
    margin-right: 15px;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #0074d9;
    text-align: center;
}
.invoice-id{
    color: #c4c4c4;
    font-size: 12px;
}
.unpaid{
    background-color: rgba(252, 104, 5, 0.192);
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    color: #f7581a;
    font-weight: 600;
}
.paid{
    background-color: rgba(5, 50, 252, 0.192);
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    color: #1a4ef7;
    font-weight: 600;
}
.overdue{
    background-color: rgba(252, 5, 5, 0.192);
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    color: #fa0a0a;
    font-weight: 600;
}
.draft{
    background-color: rgba(83, 82, 82, 0.192);
    border: none;
    border-radius: 15px;
    padding: 5px 10px;
    color: #c5c5c5;
    font-weight: 600;
}

.text-mute {
    color: #c4c4c4;
}

.client {
    background: #001f3f;
    border-radius: 20px;
    padding: 20px;
    margin: 4px;

}

.client i {
    color: #f8d301;
    margin-left: 10px;
}

.graph i {
    border-radius: 50%;
    border: 2px solid #c5c5c5;
    padding: 8px;
}

/* Media Queries */
@media screen and (max-width: 512px) {
    .side-bar {
        margin: 0 16px;
    }

    .invoice-btn {
        font-size: 12px;
    }
}